---
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import { getBranchBySlug } from "../../lib/firebase.js";
import Button from "../../components/Button.astro";
import Instagram from "@lucide/astro/icons/instagram";

const { slug } = Astro.params;

const branch = (await getBranchBySlug(slug as string)) as any;

if (!branch) {
  return Astro.redirect("/404");
}
---

<Layout title={`${branch.name} - Lomo Aleman`}>
  <!-- Meta tags para cache control -->
  <meta slot="head" http-equiv="Cache-Control" content="public, max-age=3600" />

  <main>
    <div class="container mx-auto px-4 lg:px-0">
      <h1 class="text-4xl font-bold my-12">{branch.name}</h1>
      <p class="text-xl font-medium mb-3">
        Lomo Alemán {branch.name} - Sandwichería Delivery
      </p>

      <ul class="mb-9">
        <li>{branch.address}</li>
        {
          branch.phone ? (
            <li>
              Fono:{" "}
              <a
                href={`tel:+${branch.phone}`}
                class="hover:text-amber-600 transition underline underline-offset-2"
              >
                +{branch.phone}
              </a>
            </li>
          ) : null
        }
      </ul>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- instagram -->
        {
          branch.instagram && (
            <a href={branch.instagram} target="_blank" class="flex border-2 rounded-md p-4 text-xl font-bold items-center justify-center | bg-gradient-to-r from-[#833ab4] via-[#fd1d1d] to-[#fcb045]">
              <Instagram class="me-3" />
              Siguenos en Instagram
            </a>
          )
        }
        <!-- phone -->
        {
          branch.phone && (
            <Button title="Realizar Pedido" href={`tel:${branch.phone}`} />
          )
        }

        <!-- whatsapp -->
        {
          branch.wsp ? (
            <Button
              title="Pedido por Whastapp"
              href={`https://wa.me/${branch.wsp}/?text=Hola,%20quiero%20hacer%20un%20pedido`}
            />
          ) : null
        }

        <!-- menu -->
        {branch.menu ? <Button title="Carta" href={branch.menu} /> : null}
      </div>

      <!-- map -->
      {
        branch.map && (
          <iframe
            class="mt-6 w-full min-h-80"
            loading="lazy"
            src={`${branch.map}`}
            title={branch.address}
            aria-label={branch.address}
          />
        )
      }
    </div>
  </main>
</Layout>
